@media (max-width: 1440px) {
  :root {
    --header-top-height: 0;
  }

  .container {
    padding: 0 50px;
  }

  .hero {
    padding: 111px 0 115px;
  }

  .hero__content {
    width: 75%;
  }

  .hero__title {
    margin-bottom: 11px;
  }

  .hero__descr {
    margin-bottom: 132px;
  }

  .services__title {
    margin-bottom: 18px;
  }

  .services__btn-prev,
  .services__btn-next {
    display: none;
  }

  .services-slider__wrapper {
    margin-bottom: 26px;
  }

  .services-slider__pagination {
    display: block;
  }

  .article__bottom {
    padding: 73.5% 31px 48px;
  }

  .article__place,
  .article__date {
    align-self: flex-start;
    font-weight: 400;
  }

  .article__date {
    margin-bottom: 5px;
  }

  .article__name {
    margin-bottom: 8px;
  }

  .article__descr {
    margin-bottom: 18px;
  }

  .projects {
    padding: 37px 0 85px;
  }

  .address {
    margin-bottom: 31px;
  }
}

@media (max-width: 1300px) {
  .header-top {
    position: relative;
  }

  .header-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .header-top--active::before {
    opacity: 1;
    z-index: 100;
  }

  .header-top__content {
    justify-content: space-between;
    padding: 29px 0 26px;
  }

  .logo {
    margin: 0;
  }

  .burger {
    display: block;
    z-index: 101;
  }

  .nav {
    position: fixed;
    top: var(--header-top-height);
    left: 0;
    z-index: 100;
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 50px 50px;
    width: 100%;
    height: calc(100vh - var(--header-top-height));
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-right: 0;
    margin-bottom: 170px;
  }

  .nav--active {
    visibility: visible;
    transform: none;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .hero {
    margin-top: 0;
  }

  .main-slider__slide--1 {
    background-image: url("../img/new/1.png");
  }

  .main-slider__slide--2 {
    background-image: url("../img/new/2.png");
  }

  .footer__content {
    padding-top: 41px;
    padding-bottom: 37px;
  }

}

@media (max-width: 992px) {
  .hero__content {
      width: 100%;
  }
  
  .services__title {
    margin-bottom: 16px;
  }

  .services-slider__wrapper {
    margin-bottom: 24px;
  }

  .article__bottom {
    padding: 67% 18px 48px 36px;
  }

  .article__name {
    margin-bottom: 4px;
  }

  .article__descr {
    margin-bottom: 23px;
  }

  .projects {
    padding-top: 39px;
  }

  .address {
    margin-bottom: 31px;
  }

  .teams__list-item, .projects__list-item {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .team__content {
    flex-direction: column;
    gap: 20px;
  }

  .team__photo, .team__list {
      max-width: 100%; /* Полная ширина на мобильных */
  }

  .team__list-title {
      font-size: 1.8rem;
  }

  .team__member {
      font-size: 1rem;
  }

  .main-slider__slide--1 {
    background-image: url("../img/new/1.png");
  }

  .main-slider__slide--2 {
    background-image: url("../img/new/2.png");
  }
  
  .about__list-item {
    flex: 1 1 100%;
  }
}

@media (max-width: 640px) {
  
  .container {
    padding: 0 15px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
  }

  .nav {
    padding: 0 0 30px 15px;
  }


 .hero__content {
   align-items: center;
 }

  .hero__title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }

  .hero__descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    max-width: 90%;
  }

  .hero__link {
    padding: 9px 15px;
    font-size: 12px;
    line-height: 16px;
  }

  .about {
    padding: 50px 0 41px;
  }

  .about__title {
    margin-bottom: 12px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .catalog {
    padding: 51px 0 14px;
  }

  .catalog__title {
    margin-bottom: 12px;
  }

  .catalog__descr {
    display: none;
  }

  .services {
    padding: 22px 0;
  }

  .services__title {
    margin-bottom: 11px;
  }

  .services-slider__wrapper {
    margin-bottom: 15px;
  }

  .article__bottom {
    padding: 75% 18px 48px 22px;
  }

  .article__date {
    margin-bottom: 10px;
  }

  .article__name {
    margin-bottom: 5px;
  }

  .article__descr {
    margin-bottom: 13px;
  }

  .projects {
    padding: 25px 0 30px;
  }

  .projects__title {
    margin-bottom: 13px;
  }

  .projects__descr {
    margin-bottom: 10px;
  }

  .projects__subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 32px;
  }

  .projects-slider {
    width: calc(195 / 290 * 100%);
    height: 65px;
  }

  .contacts__content {
    padding: 20px 0 17px;
  }

  .address {
    margin-bottom: 14px;
  }

  .address__name {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 25px;
  }

  .address__place {
    font-size: 14px;
    line-height: 19px;
  }

  .map {
    height: 320px;
  }

  .footer__content {
    padding: 20px 0 17px;
    flex-direction: column;
  }

  .footer__list {
    order: -1;
    margin-bottom: 16px;
  }

  .social__icon {
    width: 50px;
    height: 50px;
  }

  .teams__list-item, .projects__list-item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header-top__content {
    padding: 10px 0 10px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .burger__line {
    height: 2px;
  }
  .burger__line--1 {
    width: 25px;
  }

  .burger__line--2 {
    width: 16px;
  }

  .burger__line--3 {
    width: 10px;
  }

  .burger--active .burger__line--3 {
    width: 25px;
  }

  .nav {
    font-size: 16px;
    line-height: 32px;
  }

  .hero {
    padding: 31px 0 45px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 38px;
  }

  .hero__descr {
    margin-bottom: 43px;
    font-size: 12px;
    line-height: 16px;
  }

  .main-slider__slide--1 {
    background-image: url("../img/new/1.png");
  }

  .main-slider__slide--2 {
    background-image: url("../img/new/2.png");
  }

  .artist {
    column-count: 1;
  }
}
